<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.6" />
      <httpRuntime targetFramework="4.6" />
    </system.web>


<appSettings>
  <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"></add>
</appSettings>

    <system.serviceModel>
        <bindings />
        <client />
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
    </system.serviceModel>

  <connectionStrings>
    <add name="constr" connectionString="Data Source=LITTLE_JHA;Initial Catalog=hotel_manage;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

</configuration>
